head
  meta(charset='utf-8')
  meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  title Dmytro Artemchuk - Junior Front-end Developer
  meta(name="description", content="Dmytro Artemchuk - Junior Front-end Developer. Location in Kyiv, Ukraine.")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  link(rel="shortcut icon", href="img/favicon.ico")