$primary-color: #FFFFFF;
$secondary-color: #57A653;
$third-color: #444444;

$font: 'Roboto', sans-serif;
$font-slab: 'Roboto Slab', sans-serif;
$font-size: 1rem;
$font-weight: 300;
$font-primary-color: #444444;
$font-second-color: #57A653;

$line-height: 1.5;

$background-color: #ffffff;
$margin-primary: 15px;
$padding-primary: 15px;