head
  meta(charset='utf-8')
  meta(name="viewport", content="width=device-width, initial-scale=1")
  title Dmytro Artemchuk - Vue.js Front-end developer
  meta(name="description", content="Dmytro Artemchuk - Vuejs Front-end developer. Location in Kyiv, Ukraine. Skills: HTML5, CSS3, JavaScript, jQuery, Vuejs, Sass, Gulp, Git etc.")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  link(rel="shortcut icon", href="img/favicon.ico")
  meta(name='apple-mobile-web-app-capable' content='yes')
  meta(name='apple-mobile-web-app-status-bar-style' content='#444')
  meta(property='og:title' content='Dmytro Artemchuk - Vue.js Front-end developer')
  meta(property='og:description' content='Dmytro Artemchuk - Vuejs Front-end developer. Location in Kyiv, Ukraine. Skills: HTML5, CSS3, JavaScript, jQuery, Vuejs, Sass, Gulp, Git etc.')
  meta(property='og:url' content='https://taruuuch.com/')
  meta(property='og:image' content='https://taruuuch.com/img/top-img-13.jpg')
  meta(property='og:type' content='website')
