section.about#about
  .container
    .section-header About me
    .section-content
      .feauters
        .feauter-column
          i.fas.fa-tachometer-alt.fa-5x
          h3.feauter-title Fast
          p.feauter-description Fast load times and lag free interaction, my highest priority.
        .feauter-column
          i.fas.fa-desktop.fa-5x
          h3.feauter-title Responsive
          p.feauter-description My layouts will work on any device, big or small.
        .feauter-column
          i.fas.fa-lightbulb.fa-5x
          h3.feauter-title Intuitive UX/UI
          p.feauter-description Strong preference for easy to use, intuitive UX/UI.
        .feauter-column
          i.fas.fa-fighter-jet.fa-5x
          h3.feauter-title Dynamic
          p.feauter-description Websites don't have to be static, I love making pages come to life.
      .photo
        .my-photo
        p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      .skills
        .skillbar.clearfix(data-percent='90%')
          .skillbar-title
            span HTML5
          .skillbar-bar
          .skill-bar-percent 90%
        .skillbar.clearfix(data-percent='80%')
          .skillbar-title
            span CSS3
          .skillbar-bar
          .skill-bar-percent 80%
        .skillbar.clearfix(data-percent='60%')
          .skillbar-title
            span SASS
          .skillbar-bar
          .skill-bar-percent 60%
        .skillbar.clearfix(data-percent='70%')
          .skillbar-title
            span JavaScript
          .skillbar-bar
          .skill-bar-percent 70%
        .skillbar.clearfix(data-percent='50%')
          .skillbar-title
            span React
          .skillbar-bar
          .skill-bar-percent 50%
        .skillbar.clearfix(data-percent='50%')
          .skillbar-title
            span .Net Core 2
          .skillbar-bar
          .skill-bar-percent 50%
        .skillbar.clearfix(data-percent='75%')
          .skillbar-title
            span Photoshop
          .skillbar-bar
          .skill-bar-percent 75%
        .skillbar.clearfix(data-percent='50%')
          .skillbar-title
            span Adobe XD
          .skillbar-bar
          .skill-bar-percent 50%
