extends base/base.pug
block navigation
	include default/navigation.pug
block header
	include default/header.pug
block content
	include section/about.pug
	include section/experience.pug
	include section/project.pug
	include section/work.pug
	include section/blog.pug
block footer
	include default/footer.pug