extends ./import/base.pug
block header
  include ./import/header.pug
block content
  include ./import/top-image.pug
  include ./import/about.pug
  include ./import/skill.pug
  include ./import/project.pug
block footer
  include ./import/footer.pug
