doctype
html(lang='en')
  include ./head.pug
  body
    block navigation
    block header
    main
      block content
        include ./content.pug
    block footer
    block script
      include ./script.pug
