include dataList.pug

section.contact
  div.container
    div.section-header
      |Контакти
    div.contact-content
      div.contact-item
        a(href="mailto:taruuuch@gmail.com")
          i.fa.fa-2x.fa-envelope
      div.contact-item
        a(href="skype:taruuuch@gmail.com?chat")
          i.fa.fa-2x.fa-skype
      div.contact-item      
        a(href="https://vk.com/dmitry.artemchuk")
          i.fa.fa-2x.fa-vk
      div.contact-item      
        a(href="https://www.facebook.com/dima.artemchuk.7")
          i.fa.fa-2x.fa-facebook
      div.contact-item      
        a(href="https://www.linkedin.com/in/dmytro-artemchuk-a3737211a/")
          i.fa.fa-2x.fa-linkedin
      div.contact-item      
        a(href="https://www.youtube.com/channel/UCLdSaja1s0ep2vg38gJJrQA")
          i.fa.fa-2x.fa-youtube
      div.contact-item      
        a(href="https://t.me/taruuuch")
          i.fa.fa-2x.fa-telegram
      div.contact-item      
        a(href="https://open.spotify.com/user/taruuuch")
          i.fa.fa-2x.fa-spotify
      div.contact-item      
        a(href="https://www.instagram.com/dmitry_artemchuk")
          i.fa.fa-2x.fa-instagram
      div.contact-item      
        a(href="https://twitter.com/taruuuch")
          i.fa.fa-2x.fa-twitter
      div.contact-item      
        a(href="https://www.twitch.tv/taruuuch")
          i.fa.fa-2x.fa-twitch
