header#header.animated.fadeIn
  div.main
    nav.navbar
      a(href="#top").navbar-item Home
      a(href="#about").navbar-item About me
      a(href="#skill").navbar-item Skills
      a(href="#project").navbar-item Projects
      a(href="#footer").navbar-item Contacts
