include dataList.pug

section.project#project
  div.container
    div.section-header
      |Projects
    div.project_content
      div.project_list
        div.project_item
          div.project_item_image(style="background-image:url(img/project/alfa.jpg)")
          div.project_item_text 
            div.title Alfa-Automatic
            div.description Описание
            div.date 09.2016
            div.link 
              a(href="http://alfa-automatic.com.ua") Перейти
        div.project_item
          div.project_item_image(style="background-image:url(img/project/kruton.jpg)")
          div.project_item_text 
            div.title Интернет магазин Kruton
            div.description Описание
            div.date 04.2016
            div.link 
              a(href="http://kruton.com.ua") Перейти
        div.project_item
          div.project_item_image(style="background-image:url(img/project/studiobms.jpg)")
          div.project_item_text 
            div.title Лендінг для STUDIOBMS
            div.description Описание
            div.date 06.2017
            div.link   
              a(href="#") Перейти  
