section.project#project
  .container
    .section-header Projects
    .project-content
      .project
        .project-item-image
          img(src="img/project/alfa.png")
        .project-item-text 
          h3.project-title Alfa-Automatic
          ul.project-tags 
            li 
              span landing, ui design
          p.project-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="http://alfa-automatic.com.ua").button-primary VISIT WEBSITE
      .project
        .project-item-text 
          h3.project-title Kruton
          ul.project-tags 
            li 
              span internet store, opencart, ui design
          p.project-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="http://kruton.com.ua").button-primary VISIT WEBSITE
        .project-item-image
          img(src="img/project/kruton.png")
      .project
        .project-item-image
          img(src="img/project/host.png")
        .project-item-text 
          h3.project-title Host is on
          ul.project-tags 
            li 
              span landing, ui design
          p.project-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="http://hostison.com/ru/").button-primary VISIT WEBSITE
      .project
        .project-item-text 
          h3.project-title StudioBMS
          ul.project-tags 
            li 
              span landing, ui design
          p.project-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="http://www.taruuuch.com/studiobms/").button-primary VISIT WEBSITE
        .project-item-image
          img(src="img/project/studio.png")
      .project
        .project-item-image
          img(src="img/project/bittime.png")
        .project-item-text 
          h3.project-title BitTime
          ul.project-tags 
            li 
              span internet store, ui design
          p.project-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          a(href="#").button-primary VISIT WEBSITE
