section.s-my-projects#my-projects
  .container
    .section-header My personal projects
    .section-content
      .my-project-item
        a(href="#")
          .item-image(style="background-image:url(img/no-project.jpg)")
        h3.item-title NULES Schedule
        p.item-description Scheduler is a simple web app that helps students quickly see schedule. I currently working on a 1.0 release.
      .my-project-item
        a(href="#")
          .item-image(style="background-image:url(img/no-project.jpg)")
        h3.item-title Job Finder
        p.item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      .my-project-item
        a(href="#")
          .item-image(style="background-image:url(img/no-project.jpg)")
        h3.item-title Script "NOAA Star VHI for Ukraine"
        p.item-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
