section.skill#skill
  div.container
    div.section-header
      |Skills
    div.skill-content
      div.skill-list 
        div.skillbar.clearfix(data-percent="100%")
          div.skillbar-title(style="background: #d35400;")
            span HTML5
          div.skillbar-bar(style="background: #e67e22;")
          div.skill-bar-percent 100%
        div.skillbar.clearfix(data-percent="100%")
          div.skillbar-title(style="background: #2980b9;")
            span CSS3
          div.skillbar-bar(style="background: #3498db;")
          div.skill-bar-percent 100%
        div.skillbar.clearfix(data-percent="85%")
          div.skillbar-title(style="background: #333333;")
            span SASS
          div.skillbar-bar(style="background: #525252;")
          div.skill-bar-percent 85%
        div.skillbar.clearfix(data-percent="70%")
          div.skillbar-title(style="background: #d8e03d;")
            span JavaScript
          div.skillbar-bar(style="background: #dcee0a;")
          div.skill-bar-percent 70%
        div.skillbar.clearfix(data-percent="50%")
          div.skillbar-title(style="background: #2c3e50;")
            span jQuery
          div.skillbar-bar(style="background: #2c3e50;")
          div.skill-bar-percent 50%
        div.skillbar.clearfix(data-percent="50%")
          div.skillbar-title(style="background: #4db2cd;")
            span React
          div.skillbar-bar(style="background: #61dafb;")
          div.skill-bar-percent 50%
        div.skillbar.clearfix(data-percent="30%")
          div.skillbar-title(style="background: #46465e;")
            span PHP
          div.skillbar-bar(style="background: #5a68a5;")
          div.skill-bar-percent 30%
        div.skillbar.clearfix(data-percent="25%")
          div.skillbar-title(style="background: #333333;")
            span Wordpress
          div.skillbar-bar(style="background: #525252;")
          div.skill-bar-percent 25%
        div.skillbar.clearfix(data-percent="30%")
          div.skillbar-title(style="background: #27ae60;")
            span SEO
          div.skillbar-bar(style="background: #2ecc71;")
          div.skill-bar-percent 30%
        div.skillbar.clearfix(data-percent="70%")
          div.skillbar-title(style="background: #124e8c;")
            span Photoshop
          div.skillbar-bar(style="background: #4288d0;")
          div.skill-bar-percent 70%
        div.skillbar.clearfix(data-percent="50%")
          div.skillbar-title(style="background: #05324f;")
            span Drupal
          div.skillbar-bar(style="background: #064771;")
          div.skill-bar-percent 50%
        div.skillbar.clearfix(data-percent="50%")
          div.skillbar-title(style="background: #c3a133;")
            span Python
          div.skillbar-bar(style="background: #ffd343;")
          div.skill-bar-percent 50%
        div.skillbar.clearfix(data-percent="40%")
          div.skillbar-title(style="background: #062519;")
            span Django
          div.skillbar-bar(style="background: #0C4B33;")
          div.skill-bar-percent 40%
        div.skillbar.clearfix(data-percent="35%")
          div.skillbar-title(style="background: #333333;")
            span Flask
          div.skillbar-bar(style="background: #525252;")
          div.skill-bar-percent 35%
        div.skillbar.clearfix(data-percent="50%")
          div.skillbar-title(style="background: #3e0147;")
            span ะก#
          div.skillbar-bar(style="background: #78008b;")
          div.skill-bar-percent 50%
