footer#footer
  .container
    .footer-text
      |Thanks for read my portfolio
      | 
      i.fas.fa-heart
    .social-links
      a(href="mailto:taruuuch@gmail.com" target="_blank")
        i.far.fa-envelope
      a(href="https://github.com/taruuuch" target="_blank")
        i.fab.fa-github
      a(href="skype:taruuuch@gmail.com?chat" target="_blank")
        i.fab.fa-skype
      a(href="https://www.linkedin.com/in/artemchuk-dmytro/" target="_blank")
        i.fab.fa-linkedin-in
      a(href="https://t.me/taruuuch" target="_blank")
        i.fab.fa-telegram-plane
      a(href="https://open.spotify.com/user/taruuuch" target="_blank")
        i.fab.fa-spotify 
      a(href="https://www.instagram.com/taruuuch" target="_blank")
        i.fab.fa-instagram  
      a(href="https://www.behance.net/taruuuch174e" target="_blank")
        i.fab.fa-behance
